*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html[color-mode="cafe"] {
  filter: sepia(0.9) hue-rotate(315deg) brightness(0.9);
}

html[color-mode="contrast"] {
  filter: contrast(2);
}

html[color-mode="grayscale"] {
  filter: grayscale(100%);
}

html[color-mode="inverted"] {
  filter: invert(100%);
}

html[color-mode="grayscale-inverted"] {
  filter: grayscale(100%) invert(100%);
}
