// this is for manual reduce motion
html[reduce="true"] *,
::before,
::after {
  transition-duration: 0.001ms !important;
  transition-delay: 0s !important;
  animation: none !important;
  animation-duration: 0.001ms !important;
  animation-delay: -0.001ms !important;
  animation-iteration-count: 1 !important;

  --animate-duration: 0 !important;
  --animate-delay: 0 !important;
  --animate-repeat: 0 !important;
}

// this is for system reduce motion prefers
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition-duration: 0.001ms !important;
    transition-delay: 0s !important;
    animation: none !important;
    animation-duration: 0.001ms !important;
    animation-delay: -0.001ms !important;
    animation-iteration-count: 1 !important;

    --animate-duration: 0 !important;
    --animate-delay: 0 !important;
    --animate-repeat: 0 !important;
  }
}
