html[reduced-motion='true'] *,
::before,
::after {
  transition: none !important;
  transition: none !important;
  transition: none !important;
  transition: none !important;
  transition: none !important;
  animation: none !important;
}
