node_modules
.DS_Store
dist
dist-staging
dist-production
dist-ssr
*.local
report/*
!report/*.md
types/auto-import.d.ts
types/components.d.ts
build/_generated/*.ts
build/_generated/*.json
build/_generated/*.txt
*.zip