strict-peer-dependencies=false
engine-strict=true
# registry=https://registry.npmjs.org
# proxy=http://127.0.0.1:7890
registry=https://registry.npmmirror.com
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips