:root {
  @apply .light;
}

.dark {
  --color-bg-primary: rgba(5, 5, 5, 0.95);
  --color-bg-secondary: rgba(5, 5, 5, 0.9);
  --color-text-primary: #e3e6e7;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #fff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}
