.abs-center {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.w-highlight {
  color: #5e6d82;
  background-color: rgba(64, 158, 255, 0.6);
  pointer-events: none;
}

.w-screenfull {
  padding: 20px;
  background-color: #fff;
}
